@model RazorTemplateEngine.Views.RegistrationConfirmation.RegistrationConfirmationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @* @Model.Test *@
</div>
</body>
</html>