@using RazorTemplateEngine.Abstractions
@using RazorTemplateEngine.Views.RegistrationConfirmation
@model RazorTemplateEngine.Views.RegistrationConfirmation.RegistrationConfirmationModel
@inject IEmailTranslationService _emailTranslationService
@{
    RegistrationConfirmationTranslationModel translations = await _emailTranslationService.GetRegistrationConfirmationTranslation(@Model.LangId);
    Layout = "_Layout";
}

<div>
    <p>
        <h2>@translations.ConfirmEmail</h2>
    </p>
    <a href="@Model.Url/token=@Model.Token">@translations.ConfirmEmailButton</a>
</div>
